@{
    ViewBag.Title = "Google OAuth";
}
<h1>Google OAuth</h1>
<h3>Code</h3>
<p>@ViewBag.Code</p>
<h3>Token</h3>
<p id="token">Getting token...</p>
<script type="text/javascript">
    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function () {
        if (httpRequest.readyState === 4) {
            document.getElementById('token').innerHTML = httpRequest.responseText;
        }
    };
    httpRequest.open('GET', '/api/authorization/token/google/?oauthcode=@ViewBag.Code', true);
    httpRequest.send();
</script>